.sidebar{
    flex:1;
    background-color: white ;
    height: 2000px;
    border-right:1px solid #e2e2e2;
    padding-top:15px;
}

.sidebarWrapper{
}
.sidebarList{
    list-style: none;
    padding-inline-start: 0px;
}
.sidebarlistItem{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 3px;
}
.sidebarIcon{
    flex:1;
    margin-right: 1 px;
    height: 22px;
    width: 22px;
    color: #bfbfbf;
}
.sidebarListItemText
{
    flex:5;
    margin: 3px;
}
.sidebarCurrent{
    color: #737373 ;
    font-size: 12px;
    margin-left: 15px;
    margin-bottom: 10px;

}
hr{
    height:0.5px;
    border-width:0;
    color:#e2e2e2;
    background-color: #e2e2e2;
    margin-bottom: 20px;
    margin-top: 10px;

}